<div class="container d-flex justify-content-center align-items-center vh-100" id="root">
    <div class="card p-4 d-flex flex-column align-items-center" id="signIn">
        <h2 id="header">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="signIn()" class="needs-validation w-100" novalidate id="form">
            
          <div class="form-floating mb-1 p-1 w-100">
            <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email*" required>
            <label for="email">Email*</label>            
          </div>

          <div class="form-floating mb-1 p-1 w-100">
            <input type="password" class="form-control" formControlName="password" id="Password" placeholder="Password*" required>
            <label for="Password">Password*</label>
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger text-start error-messages">
              <small *ngIf="loginForm.get('password')?.errors?.['required']">*Password is required.<br></small>
            </div>
          </div>

            <button type="submit" class="btn btn-primary w-100"> Login</button>

          <!-- Sign up link-->
          <div id="signUp">
            Don't have an account? 
            <a [routerLink]="['../SignUp']" id="link">Sign up Instead</a>
          </div>
          
          <!-- Alt sign in methods-->
          <div>
            <button type="submit" class="btn btn-danger btn-google w-100"id="google">
              <i class="fa-brands fa-google"></i>
              Continue with Google
            </button>
            
          </div>
        </form>
    </div>
</div>