<div class="container mt-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>

    <!-- Merchant Input -->
    <div class="form-floating mb-3">
      <input type="text" 
             class="form-control" 
             id="merchant" 
             formControlName="merchant" 
             placeholder="Merchant"
             [ngClass]="{'is-invalid': form.controls['merchant'].invalid && (form.controls['merchant'].touched || form.controls['merchant'].dirty)}">
      <label for="merchant">Merchant</label>
    </div>

    <!-- Date Input -->
    <div class="form-floating mb-3">
      <input type="date" 
             class="form-control" 
             id="date" 
             formControlName="date" 
             placeholder="Date"
             [ngClass]="{'is-invalid': form.controls['date'].invalid && (form.controls['date'].touched || form.controls['date'].dirty)}">
      <label for="date">Date</label>
    </div>

    <!-- Category -->
    <div class="form-floating mb-3">
      <select class="form-select" 
              id="category" 
              formControlName="category" 
              aria-label="Category"
              [ngClass]="{'is-invalid': form.controls['category'].invalid && (form.controls['category'].touched || form.controls['category'].dirty)}">
        <option selected disabled value="">Select</option>
        <option value="food">Food</option>
        <option value="travel">Travel</option>
        <option value="utilities">Utilities</option>
        <option value="entertainment">Entertainment</option>
        <option value="other">Other</option>
      </select>
      <label for="category">Category</label>
    </div>

    <!-- Payment Method -->
    <div class="form-floating mb-3">
      <select class="form-select" 
              id="paymentMethod" 
              formControlName="paymentMethod" 
              aria-label="PaymentMethod"
              [ngClass]="{'is-invalid': form.controls['paymentMethod'].invalid && (form.controls['paymentMethod'].touched || form.controls['paymentMethod'].dirty)}">
        <option selected disabled value="">Select</option>
        <option value="cash">Cash</option>
        <option value="creditCard">Credit Card</option>
        <option value="debitCard">Debit Card</option>
        <option value="other">Other</option>
      </select>
      <label for="paymentMethod">Payment Method</label>
    </div>

    <!-- Subtotal Input -->
    <div class="form-floating mb-3">
      <input type="number" 
             class="form-control" 
             id="subtotal" 
             formControlName="subtotal" 
             placeholder="Subtotal"
             [ngClass]="{'is-invalid': form.controls['subtotal'].invalid && (form.controls['subtotal'].touched || form.controls['subtotal'].dirty)}">
      <label for="subtotal">Subtotal</label>
    </div>

    <!-- Tax Percentage Input -->
    <div class="form-floating mb-3">
      <input type="number" 
             class="form-control" 
             id="tax" 
             formControlName="tax" 
             placeholder="Tax Percentage"
             [ngClass]="{'is-invalid': form.controls['tax'].invalid && (form.controls['tax'].touched || form.controls['tax'].dirty)}">
      <label for="tax">Tax Percentage</label>
    </div>

    <!-- Total Input -->
    <div class="form-floating mb-3">
      <input type="number" 
             class="form-control" 
             id="total" 
             formControlName="total" 
             placeholder="Total"
             [ngClass]="{'is-invalid': form.controls['total'].invalid && (form.controls['total'].touched || form.controls['total'].dirty)}">
      <label for="total">Total</label>
    </div>

    <div class="col-12 mt-3 text-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>  
  </form>
</div>