<div class="container d-flex justify-content-center align-items-center vh-100" id="root">
    <div class="card p-4 d-flex flex-column align-items-center" id="signup">
        <h2 id="header">Register</h2>
        <form class="needs-validation w-100" novalidate id="form">
            <div class="form-floating mb-3 p-1 w-100">
              <input type="text" class="form-control" id="email" placeholder="Email*" required>
              <label for="email">Email*</label>
            </div>
            <div class="form-floating mb-3 p-1 w-100">
              <input type="password" class="form-control" id="Password" placeholder="Password*" required>
              <label for="Password">Password*</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>

          <!-- Sign in link-->
          <div id="signIn">
            Have an account? 
            <a [routerLink]="['../SignIn']" id="link">Sign in Instead</a>
          </div>
          
          <!-- Alt sign in methods-->
          <div>
            <button type="submit" class="btn btn-danger btn-google w-100"id="google">
              <i class="fa-brands fa-google"></i>
              Continue with Google
            </button>
            
          </div>
        </form>
    </div>
</div>