#signup {
    width: 400px;
    height: 400px;
    padding: 2rem; 
    border-width: 0;
}

#form {
    text-align: center;
}


#signup .btn {
    height: 50px;
}

#signIn {
    margin: 20px;
}

#link {
    text-decoration: none;
}

.logo-img {
    width: 100px;
}