<div class="container d-flex justify-content-center align-items-center vh-100" id="root">
    <div class="card p-4 d-flex flex-column align-items-center" id="signup">

      <!--Logo-->
      <img src="../../assets/logo.svg" alt="Logo" class="logo-img mb-2">  
      <h2 id="header">Register</h2>

        <form class="needs-validation w-100" [formGroup]="registrationForm" id="form" (ngSubmit)="register()">
            
            <div class="form-floating mb-1 p-1 w-100">
              <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email*" required>
              <label for="email">Email</label>
              <div class="text-danger text-start">
                <small *ngIf= "registrationForm.controls['email'].invalid && (registrationForm.controls['email'].touched || registrationForm.controls['email'].dirty)">
                  *Invalid Email Address.
                </small>
              </div>
              
            </div>

            <div class="form-floating mb-1 p-1 w-100">
              <input type="password" class="form-control" formControlName="password" id="Password" placeholder="Password*" required>
              <label for="Password">Password</label>
              <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="text-danger text-start error-messages">
                <small *ngIf="registrationForm.get('password')?.errors?.['required']">*Password is required.<br></small>
                <small *ngIf="registrationForm.get('password')?.errors?.['minlength']">*Password must be at least 8 characters long.<br></small>
                <small *ngIf="registrationForm.get('password')?.errors?.['uppercase']">*Password must include at least one uppercase letter.<br></small>
                <small *ngIf="registrationForm.get('password')?.errors?.['number']">*Password must include at least one number.<br></small>
              </div>
            </div>

            <div class="text-danger error-messages">
              <small *ngIf="errorSigningIn">Registration error. Please try again later.<br></small>
            </div>

            <button type="submit" class="btn btn-primary w-100">Register</button>

          <!-- Sign in link-->
          <div id="signIn">
            Have an account? 
            <a [routerLink]="['../SignIn']" id="link">Sign in Instead</a>
          </div>
          
          <!-- Alt sign in methods-->
          <div>
            <button type="button" class="btn btn-danger btn-google w-100"id="google">
              <i class="fa-brands fa-google"></i>
              Continue with Google
            </button>
            
          </div>
        </form>
    </div>
</div>